/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Ensure full page height */
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
  width: 100%;
}

/* Box-sizing border-box for all elements */
* {
  box-sizing: border-box;
}

/* Provide a maximum width and center the content */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Reset anchor text decoration and set color */
a {
  text-decoration: none;
  color: inherit;
}
