.review-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-style: solid;
  margin: auto;
  max-width: 600px;
}

.input-stars {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-stars button {
  background-color: #ceead6;
}

.input-stars label {
  padding-right: 20px;
  font-size: x-large;
}
.review-title {
  margin-top: 10px;
}

.input-review {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.review-submit {
  background-color: #a3d5b2;
  width: 200px;
  margin-top: 10px !important;
  margin-bottom: 10px;
}

.stars {
  margin-left: 5px;
  background-color: #ceead6;
  border-style: none;
  font-size: large;
}

@media (max-width: 600px) {
  .review-form {
    max-width: 85vw !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 762px) {
  .stars {
    background-color: #eef8f1;
  }
}
