.add-product-button {
  display: flex;
  justify-content: space-between;
}

.adminbtn {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.edit-text {
  color: #72b787;
}

.admin-container {
  max-width: 100%;
}

.admin-prod-container {
  margin: auto;
}
