.container-forgotpass {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
}

.forgotpass-header {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: #72b787;
}

.back-link {
  color: #72b787;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.flex-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.error-text {
  color: red !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-container {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.btn-primary,
.forgot-password-button {
  background-color: #579269;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "noto sans", "Times New Roman", Times, serif;
}

.login-link {
  color: blue;
}

.remember-message {
  color: #579269;
}
