@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.product-container {
  max-width: 900px;
  margin: auto;
}

.product-container .review-list {
  flex-direction: column;
  align-items: center;
}

.carousel-column {
  width: 35% !important; /* Adjust the width of the column containing the carousel */
}

.product-section {
  max-width: 100%;
  margin-bottom: 50px;
}
.product-info-container {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  position: relative; /* Position relative for absolute positioning of children */
  display: flex; /* Use flex layout */
  flex-direction: column; /* Stack children vertically */
  color: #579269;
}

.product-stock {
  padding-top: 10px; /* Adjusted padding */
  padding-bottom: 30px;
  text-align: center;
  font-family: "noto sans", cursive;
  font-weight: 600;
  color: #579269;
}

.product-price {
  text-align: center;
  padding-bottom: 10px;
  font-family: "Pacifico", cursive;
  color: #579269;
}

.info-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Align items with space between */
  min-height: 100%; /* Ensure the container takes up the full height */
}

.product-btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%; /* Ensure the buttons span the width of their container */
  margin-top: auto;
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
  text-wrap: nowrap;
  height: 100px;
}

.product-btn-container button {
  /* margin-left: 10%;
  margin-right: 10%; */
  width: 9rem;
  padding: 0px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.product-carousel {
  max-width: 100%; /* Ensure the container doesn't exceed the width of the carousel */
}

.product-description {
  min-height: 60%;
  font-family: "noto sans", cursive;
  font-weight: 600;
  font-style: normal;
}

.product-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Pacifico", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #579269;
}

.prod-rating-cont {
  width: 100%;
  /* padding-top: 40px; */
  /* padding-bottom: 100px; */
  display: flex;
  justify-content: center;
}

h4 {
  font-family: "noto sans", cursive;
  font-weight: 400;
  text-align: center;
  color: #579269;
}

.review-list h2 {
  color: #72b787;
  padding-bottom: 10px;
}

@media (max-width: 576px) {
  .product-btn-container button {
    margin-top: 20px; /* Adjust the margin top as needed */
  }
  .carousel-column {
    width: 100% !important; /* Full width on small screens */
    margin-bottom: 20px; /* Add some bottom margin */
    display: flex;
    justify-content: center;
  }

  .carousel-row {
    display: flex;
    justify-content: center; /* Center the carousel horizontally */
  }
}
