/* Order card row adjustment */
.order-card-row {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
}

/* Ensures the label takes the left portion */
.order-hist-label {
  width: 25%;
  padding-left: 5px;
  text-align: left;
}

/* Ensures the control takes the right portion */
.order-hist-info {
  width: calc(75% - 5px);
  padding: 0;
  margin-right: 5px;
}

/* Inputs and selects inside the rows */
.order-card-row input,
.order-card-row select,
.order-card-row textarea {
  width: 100%;
  text-align: center;
}

.order-card-row:nth-child(odd) {
  background-color: #f8f9fa;
}

.order-card-row:nth-child(even) {
  background-color: #e9ecef;
}

/* Flexbox container adjustments */
.order-card form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  border-color: black;
  border-style: solid;
  -moz-border-radius: 0px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Optional: Error text styling */
.order-card .error-text {
  margin: 10px;
}

/* Form group adjustments */
.order-card .form-group {
  margin-bottom: 0; /* Remove bottom margin to reduce space between rows */
}

.order-card h5 {
  width: 100%;
  background-color: #f8f9fa;
  margin: 0px !important;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: double black;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

/* Styling for checkboxes */
.order-hist-checkbox input {
  width: 10px;
  padding: 10px;
}

/* Submit button styling */
.order-hist-submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-card-list {
  display: flex;
  flex-direction: column;
}
