.homepage-carousel .carousel img {
  max-width: 90vw;
  max-height: 60vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

.homepage-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 70px;
}

.homepage-carousel .carousel {
  max-width: 90vw;
  max-height: 60vh;
}

.homepage-carousel .slick-slide div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-carousel {
  padding-bottom: 10px;
}

.product-carousel .carousel img {
  max-width: 100%;
  max-height: 70vh;
  display: block;
  margin: 0 auto;
}

.product-carousel .carousel {
  max-width: 100%;
  max-height: 70vh;
}

.product-carousel .slick-slide div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex !important;
  align-items: center;
  padding: 0 !important;
  --bs-modal-bg: transparent;
  --bs-modal-border-color: transparent;
  box-shadow: none;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  flex: none;
  padding: 0;
}

.modal-carousel-img {
  max-width: 100%;
  max-height: 90vh;
}

@media (max-width: 576px) {
  .product-carousel .carousel img {
    max-width: 90vw;
    max-height: 50vh;
    display: block;
    margin: 0 auto;
  }

  .product-carousel .carousel {
    max-width: 90vw;
    max-height: 50vh;
  }
}
