.homepage-carousel .carousel img {
  max-width: 90vw;
  max-height: 60vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

.homepage-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 70px;
}

.homepage-carousel .carousel {
  max-width: 90vw;
  max-height: 60vh;
}

.homepage-carousel .slick-slide div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-carousel {
  padding-bottom: 10px;
}

.product-carousel .carousel img {
  max-width: 100%;
  max-height: 70vh;
  display: block;
  margin: 0 auto;
}

.product-carousel .carousel {
  max-width: 100%;
  max-height: 70vh;
}

.product-carousel .slick-slide div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .product-carousel .carousel img {
    max-width: 90vw;
    max-height: 50vh;
    display: block;
    margin: 0 auto;
  }

  .product-carousel .carousel {
    max-width: 90vw;
    max-height: 50vh;
  }
}
